.header{
    max-width: 1540px;
    background-color: #000000;
}

.header__inner{
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.header__logo{
    padding-top: 6px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 40px;
}

.header_button{
    padding: 20px 0px;
    display: flex;
}

.button_stamp, .button_list, 
.button_application, .button_application{
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    margin-left: 40px;
}

.button_application{
    background-color: #000000;
    border: none;
}