.list{
    max-width: 1540px;
    height: 2000px;
}

.detail_title {
    margin: 80px 0px 40px 300px;
    border-left: solid 8px #000000;
    padding-left: 25px;
}

.list_month{
    width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.last_month, .next_month{
    margin: 0px;
    font-weight: bold;
    font-size: 16px;
    color: #737373;
    text-decoration: none;
}

.month{
    margin: 0px;
    font-weight: bold;
    font-size: 20px;
}

.list_day-table{
    width: 900px;
    margin: 20px auto 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.table_title, .table_content{
    height: 30px;
    color: #737373;
    font-weight: bold;
    font-size: 16px;
    border-bottom: solid 3px #E1E1E1;
}

.table_content-detail, .table_title-detail{
    padding: 10px 52.5px;
    text-align: center;
}

.table_content_detail-link{
    text-decoration: none;
    color: #000000;
}
